<% @users.each do |user| %>
    <div class="borderbox">
        <%= link_to user_path(user['id']) do %>
            <h1>Full name: <%= user["name"] %></h1>
        <%end %>
        <h2>User: <%= user["username"] %></h2>
        <h3>Address:</h3> 
        <div class="borderbox">
            <p>street: <%= user["address"]["street"]%></p>
            <p>house No: <%= user["address"]["suite"]%></p>
            <p>city: <%= user["address"]["city"]%></p>
            <p>zipcode: <%= user["address"]["zipcode"]%></p>
            <p>lat: <%= user["address"]["geo"]["lat"] %></p>
            <p>lng: <%= user["address"]["geo"]["lng"] %></p>
        </div>
            <h3>Website:</h3> 
        <div class="borderbox">
            <p><%= user["website"] %></p>
        </div>
            <h3>Company: </h3>    
        <div class="borderbox">
            <p>Name: <%= user["company"]["name"] %></p>
            <p>Catch phrase: <%= user["company"]["catchPhrase"] %></p>
            <p>Bs: <%= user["company"]["bs"] %></p>
        </div>
        <h3>Phone number:</h3>
        <div class="borderbox">
            <p><%= user["phone"] %></p>
        </div>
        <h3>Titles: </h3>
        <div class="borderbox col-md">
            <% @album.each do |a| %>
                <% if a["userId"] == user["id"] %>
                <div class="row">
                    <div class="col-md"><%= link_to a["title"], album_path(a['id']) %></div>
                </div>
                <% end %>
            <% end %>
        </div>    
    </div>
<% end %>

