<h1>Photos#show</h1>
<% @photos.each do |photo| %>
<div class="container">
    <div class="row">
        <div class="col-md"><%= photo['albumId'] %></div>
        <div class="col-md"><%= photo["id"] %></div>
        <div class="col-md"><%= photo["title"] %></div>
        <div class="col-md"><%= image_tag photo["url"], width:300, alt:"main image" %></div>
        <div class="col-md"><%= image_tag photo["thumbnailUrl"],width:150, alt:"thumbnail" %></div>
    </div>
    <hr>    
</div>
<% end %>

