<!DOCTYPE html>
<html>
  <head>
    <title>PhotographyPortfolioApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
    <div class="nav ">
      <div><%= link_to "Albums", root_path, class:"btn btn-secondary" %></div>
      <div><%= link_to "Users", users_path, class:"btn btn-secondary" %></div>
      <div><%= link_to "Photos", photos_path, class:"btn btn-secondary" %></div>
      <div><%= link_to "Album", album_path, class:"btn btn-secondary" %></div>
    </div>
  </div>
    <%= yield %>
  </body>
</html>
